In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [13]:
data = pd.read_csv('Cleaned_dataset')
data.head()

,Date,Day,Start Time,Feeling,Music,Genre,Break Duration,Building Condition,Type of Cleaning,Completion Time,Comment,Start DateTime,End DateTime,Duration,Formatted Duration,Duration_Mins,StartTime_Mins
0,2024-11-10,Sunday,10:36:00,Neutral,Yes,Blues,45,Semi-clean,Minimal,04:21:00,Overtime worked,2024-11-10 22:36:00,2024-11-11 04:21:00,0 days 05:45:00,5 hrs 45 min,345.0,1356
1,2024-11-11,Monday,10:42:00,Tired,Yes,Mixed,45,Dirty,Detailed,05:07:00,NaN,2024-11-11 22:42:00,2024-11-12 05:07:00,0 days 06:25:00,6 hrs 25 min,385.0,1362
2,2024-11-12,Tuesday,10:30:00,Tired,No,NaN,30,Dirty,Detailed,05:24:00,NaN,2024-11-12 22:30:00,2024-11-13 05:24:00,0 days 06:54:00,6 hrs 54 min,414.0,1350
3,2024-11-13,Wednesday,11:24:00,Tired,Yes,Mixed,45,Dirty,Detail,05:30:00,NaN,2024-11-13 23:24:00,2024-11-14 05:30:00,0 days 06:06:00,6 hrs 6 min,366.0,1404
4,2024-11-14,Thursday,10:40:00,Tired,No,NaN,50,Mild,Detail,05:26:00,NaN,2024-11-14 22:40:00,2024-11-15 05:26:00,0 days 06:46:00,6 hrs 46 min,406.0,1360

In [19]:
avg_duration = data['Duration_Mins'].mean()
print(avg_duration)

356.94444444444446

In [25]:
myfloat =  float(7)
print(myfloat)

TypeError: float expected at most 1 argument, got 2